<style>
  #plan_display {
    width: 500px;
    margin: 2px;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="field">
      <h2>Top Users:</h2>
      <% @organization.top_users.each_with_index do |user, index| %>
        <%= link_to "#{index + 1}. #{user}", User.find_by(name: user) %><br>
      <% end %>
      </div>
      <div class="field">
      <h2>Hot Spots:</h2>
      <% @organization.top_locations.each_with_index do |loc, index| %>
        <%= link_to "#{index + 1}. #{loc}", Location.find_by(name: loc) %><br>
      <% end %>
      </div>
    </div>
    <div class="col-sm-8 field">
      <%= button_to "Add Plans", new_plan_path, {method: "get", class: "plan"}%>
      <h2 style="text-align: center;">My Schedule: </h2>
      <% if current_user %>
        <% current_user.plans.sort_by(&:timing).each do |plan| %>
          <%= button_to plan.my_summary, plan_path(plan), {method: "get", id: "plan_display", class: "plan btn btn-default"} %>
        <% end %>
      <% else %>
        Not logged in!
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
      <div class="col-sm-8 field">
        <% if current_user %>
          <h2 style="text-align: center;"><%= current_user.organization.name %>: </h2>
        <% else %>
          <h2 style="text-align: center;">Upcoming: </h2>
        <% end %>
        <% @organization.plans.sort_by(&:timing).each do |plan| %>
          <% if current_user %>
            <% if plan.front_page?(current_user) %>
              <%= button_to plan.other_summary, plan_path(plan), {method: "get", id: "plan_display", class: "plan btn btn-default"} %>
            <% end %>
          <% else %>
              <%= button_to plan.other_summary, plan_path(plan), {method: "get", id: "plan_display", class: "plan btn btn-default"} %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
