<style>
body{
    background-color: #525252;
}

h4 {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
  border-radius: 10px;
}
.centered-form{
  background-color: #EDEDED;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  width: 50%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
  background: rgba(255, 255, 255, 0.8);
}

.center {
  width: 400px;
  margin:10px auto;
  text-align: center;
  padding: 5px;
  outline-color: red;
  outline-width: 5px;
  outline-style: solid;

}

.btn-md{
  width: 100%;
}


</style>



<div class="container">
    <div class="row centered-form">
      <h4>Please log in for OOO</h4>
      <div class="col-md-offset-5 col-md-6">
      </div>

      <%= form_tag sessions_path do %>
	    			<div class="row">
              <div class="col-xs-2 col-sm-2 col-md-2"></div>
	    				<div class="col-xs-8 col-sm-8 col-md-8">
	    					<div class="form-group">
                  <%= label_tag :email %>
                  <%= text_field_tag :email, "", class: "form-control input-sm"%>
	    					</div>
	    				</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-sm-2 col-md-2"></div>
	    				<div class="col-xs-8 col-sm-8 col-md-8">
                <div class="form-group">
                  <%= label_tag :password %>
                  <%= password_field_tag :password, "", class: "form-control input-sm" %>
			    			</div>
	    				</div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4"></div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <%= submit_tag "Login", class: "btn btn-primary btn-md"%>
            </div>
          </div>

      <% end %>

      <% if flash[:notice] %>
      <div class="row center">
          • <%= flash[:notice] %><br>
        </div>
      <% end %>

  </div>
</div>
