<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>

<%= form_tag sessions_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
<br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
<br>
  <%= submit_tag "Login" %>
<% end %>
<br>
<%= button_to "Logup if you don't have an account!", logup_path, method:'get'%>
