<style>
.center {
  width: 400px;
  margin:10px;
  text-align: left;
  padding: 5px;
  outline-color: red;
  outline-width: 5px;
  outline-style: solid;
}
</style>



<h1>Make a Plan: </h1>
<%= form_for @plan do |f| %>
  <h2>Where? </h2>
    <h3>Places we've been: <%= f.select :location_id, Location.all.collect{|l| [l.name, l.id]}, include_blank: true %></h3>
    <br>
    <h3>Make a new one: <%= f.text_field :location%></h3>
  <br>
  <% if current_user.favorite_place != nil %>
  <h3>Can't decide? Your current favorite place is: <%= current_user.favorite_place.name %></h3>
  <% end %>
  <br>
  <h2>When? </h2><%= f.datetime_local_field :timing%>
  <br>
  <%= f.submit "Create Plan" %>

<% end %>
<% if flash[:notice] %>
<div class="row center">
    • <%= flash[:notice] %><br>
  </div>
<% end %>
