<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="field" style="position: absolute; width: 85%;">
        <h1><%= link_to @plan.location.name, location_path(@plan.location) %></h1>
        <% if @plan.location.address %><h3><%= link_to @plan.location.address, location_path(@plan.location) %></h3><% end %>
        <h3><%= link_to "with #{@plan.organizer.camel_case}", user_path(@plan.organizer) %></h3>
        <h3><%= "#{@plan.day} #{@plan.time}" %> </h3>

        <% if current_user %>
          <% if !@plan.users.include?(current_user) && !current_user.conflict?(@plan.timing)%>
            <%= button_to "I'm in", {action: "create", controller: "outings", id: @plan.id}%>
          <% end %>
          <% if @plan.organizer_id == current_user.id %>
            <%= button_to "Edit Plan", edit_plan_path(@plan), method: 'get' %>
            <%= button_to "Cancel Plan", plan_path(@plan), method: 'delete' %>
            <%= button_to "Let's Go!",  go_plan_path(@plan) %>
          <% elsif @plan.users.include?(current_user)%>
            <%= button_to "Leave Plan", leave_plan_path%>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="field" style="position: absolute; width: 85%;">
        <h2>Currently going:</h2>
          <% @plan.users.each do |user| %>
            <h3><%= link_to user.name, user_path(user) %></h3>
          <% end %>
      </div>
    </div>
  </div>
</div>
