<style>
body{
    background-color: #525252;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
</style>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please log up for OOO <small>It's free!</small></h3>
			 			</div>
			 			<div class="panel-body">
              <%= form_for @user do |f| %>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                      <%= f.label :name %>
                      <%= f.text_field :name, html: {class: "form-control input-sm"}%>
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <%= f.label :email %>
                      <%= f.email_field :email, html: {class: "form-control input-sm" }%>
    			    			</div>
			    				</div>
			    			</div>

          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <%= f.label :phone %>
                  <%= f.text_field :phone, html: {class: "form-control input-sm"} %>
                </div>
              </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <%= f.label :user_name %>
                  <%= f.text_field :user_name, html: {class: "form-control input-sm"} %>
                </div>
              </div>
            </div>


			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                      <%= f.label :password %>
                      <%= f.password_field :password, html:{class: "form-control input-sm"}%>
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                      <%= f.label "Confirm" %>
                      <%= f.password_field :password_confirmation, html: {class: "form-control input-sm"}%>
			    					</div>
			    				</div>
			    			</div>

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <%= f.label "Organization" %>
                    <%= f.select :organization_id, @organizations.collect{|org| [org.name, org.id]}, include_blank: true%>
                  </div>
                </div>
                </div>


			    			<%=f.submit "Logup", html: {class: "btn btn-primary btn-md"}%>
			    		<% end %>

			    	</div>
	    		</div>
    		</div>
