<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1>Name: <%= @user.camel_case %></h1>
<h2>Email: <%= @user.email %></h2>

<h2>Phone:<% if @user.phone != "" %> <%= @user.display_phone %><% end %></h2>

<h2>IM User: <%= @user.user_name %></h2>
<% if @user.id == session[:user_id] %>
  <%= button_to "Edit", edit_user_path(@user), method: 'get' %>
<% end %>
<h2>Your Reviews:</h2>
<!-- Chart of reviews -->
<h3><%= "You have no reviews yet! Why no leave one at a location above?" if @user.reviews.empty? %></h3>
<!-- <%= bar_chart @reviews_chart_data, @bar_chart_library unless @user.reviews.empty?%> -->
<%= line_chart @plan_chart_data, @line_chart_library %>

<!-- list of reviews -->
<ul>
<% @user.reviews.each do |review| %>
<li><%= link_to review.location.name, review_path(review) %></li>
<% end unless @user.reviews.empty?%>
</ul>
