<style>

</style>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <div class="field">
        <h2>Name: <%= @user.camel_case %></h2>
        <h3>Email: <%= @user.email %></h3>
        <h3>Phone:<% if @user.phone != "" %> <%= @user.display_phone %><% end %></h2>
        <h3>IM User: <%= @user.user_name %></h3>
        <% if @user.id == session[:user_id] %>
          <%= button_to "Edit", edit_user_path(@user), {method: 'get', class: 'plan btn btn-default'} %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="field">
        <% if User.activity(@user).length > 0 %>
          <div class="field">
            <%= line_chart User.activity(@user), @line_chart_library %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div class="field">
        <h2>Reviews:</h2>
        <h3><i><%= "None written" if @user.reviews.empty? %></i></h3>
        <% @user.reviews.each do |review| %>
            <h3><%= link_to review.location.name + " - "+review.score.to_s, review_path(review) %></h3>
            <h4><%= review.comment %></h4><br>
        <% end unless @user.reviews.empty?%>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="field">
        <h2>Plans:</h2>
        <h3><i><%= "None written" if @user.plans.empty? %></i></h3>
        <% @user.plans.each do |plan| %>
            <h3><%= button_to plan.summary("#{@user.camel_case} is"), review_path(plan), class: "plan btn btn-default" %></h3>
        <% end unless @user.plans.empty?%>
      </div>
    </div>
  </div>
</div>
