<h1><%= @location.name %></h1>
<% if @location.time_of_day != nil %>
<h4><%= @location.time_of_day %></h4>
<% end %>

<% if @location.reviews.average(:score) %>
  <h4>Average Score: <%= @location.reviews.average(:score) %>
<% else %>
   This location has no reviews
<% end %>
<%= button_to "Leave a Review!", new_review_path, {method:'get',params:{location_id: @location.id}} %>
<br>
<% @location.reviews.each do |review| %>
  <li><%= link_to "#{review.location.name} Review by #{review.user.name}", review_path(review) %></li>
<% end %>
