<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<style>
.map {
  display: block;
}
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div class="field">
        <% if @location.display_score != "No reviews" %>

          <h2><%= "#{@location.name} - Rated #{@location.display_score.round(2)}"%></h2>
        <% else %>
          <h2><%= "#{@location.name} - #{@location.display_score}"%></h2>
         <% end %>

        <h3><%= @location.time_of_day %></h3>
        <h3>Address: <%= @location.address %></h3>
        <%= button_to "Edit", edit_location_path(@location), {method: 'get', class: 'plan btn btn-default'} %>
      </div>
    </div>
    <% if @location.reviews.count > 0 %>
      <div class="col-sm-6">
            <%= column_chart Location.review_data(@location), @column_chart_library %>
      </div>
      <% else %>
        <div class="col-sm-6">
          <div class="field">
            <%= button_to "Leave a Review!", new_review_path, {method:'get', class: 'plan', params:{location_id: @location.id}} %>
            <h2>Review History: </h2>
            <h3>Empty</h3>
          </div>
        </div>
    <% end %>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div class="field">
        <h1>Upcoming Events: </h1>
        <% if @location.plans.count == 0 %>
          No plans here at the moment.
        <% else %>
          <% @location.plans.each do |plan| %>
            <h3><%= link_to plan.loc_summary, plan_path(plan) %></h3>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if @location.reviews.count > 0 %>
      <div class="col-sm-6">
        <div class="field">
          <%= button_to "Leave a Review!", new_review_path, {method:'get', class: 'plan', params:{location_id: @location.id}} %>
          <h2>Review History: </h2>
          <% @location.reviews.each do |review| %>
            <% if review.user.name %>
              <h3><%= "#{review.score} - "%><%= link_to review.user.camel_case, user_path(review.user) %></h3>
            <% else %>
              <h3><%= "#{review.score} - Anonymous" %></h3>
            <% end %>
            <h4><%= review.comment %></h4><br>
          <% end %>
        </div>
      </div>
    <% end %>



    <div class="col-sm-5">
      <div class="field" style="float:left;display:inline;">
        <iframe width="400" height="350" frameborder="0" style="border:0"
      src=<%= @map_string%> allowfullscreen></iframe>
  </div>
</div>
</div>
</div>
