<h3><%= link_to @review.location.name, location_path(@review.location) %> Review by <%= @review.user.name %></h3>
<h4>Rated <%= @review.score %>/5</h4>
<h5><%= @review.comment %></h5>
<% if @review.user == current_user %>
  <%= button_to "Edit Your Review", edit_review_path(@review), method: 'get' %>
<% end %>
